---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
  title="Showtime Camps | Homepage"
  description="Showtime Camps | Basketball & Volleyball Camps"
>
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Showtime Camps",
          title: "Basketball",
          background: HeroSlider1.src,
          paragraph: "",
          button: {
            text: "Read More",
            link: "/basketball",
          },
        },
        {
          subtitle: "Showtime Camps",
          title: "Volleyball",
          background: HeroSlider3.src,
          paragraph: "",
          button: {
            text: "Read More",
            link: "/volleyball",
          },
        },
      ]}
    />
  </main>
</Layout>
